extends ../layout.pug

block title
	title Login

block content
	.container
		.row
			.col-lg-6.col-md-offset-3
				if (message.length > 0)
					.alert.alert-success.alert-dismissible
						button(type="button"
										class="close"
										data-dismiss="alert"
										aria-label="close")
							span(aria-hidden="true") &times;
						p #{message}
				form(method="post")
					h1 Login
					.form-group
						label Email:
						input(type="email"
									name="email"
									class="form-control")
					.form-group
						label Password:
						input(type="password"
									name="password"
									class="form-control")
					button(type="submit", class="btn btn-success") Submit
					a(href="/auth/facebook", class="btn btn-block btn-social btn-facebook")
						i.fa.fa-facebook
						|	Sign in with Facebook
